@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive; 
    overflow: hidden;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:  space-between;
    align-content:center;
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    height: 100vh;
    width: 100vw; 
    background-color: #ff0000 ;
}
.container i {
    position: absolute;
    background: #fff;
    border-radius: 100%;
    animation: snowfall linear infinite;
   
}
section i:nth-child(even) {
    background: transparent;
    border: 1px solid #fff;
}
@keyframes snowfall {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }

}

.music-container {
    /* background-color: black; */
    /* flex-grow: 2; */
    /* position: absolute; */
    width: 450px;
    height: 450px;
    margin-bottom: 20px;
}

.music-player {
    /* position: relative; */
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff, #e4e3e8);
    box-shadow: 0px 0px 10px 10px #ffd700; ;
    display: flex;
    border-radius: 50%;
    border: 1px solid #ffd700;
   
    z-index: 1;
}
.header {
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: #ffd700;
    margin-bottom: 35px;
}