@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --golden:#ffd700;
    --white:#fff;
    --light: #ead873;
    --red:#ff0000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive; 
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content:center;
    height: 100vh;
    width: 100vw; 
    background-color: var(--red);
}

.container .snow {
    position: absolute;
    background: var(--white);
    border-radius: 100%;
    animation: snowfall linear infinite;
}

.container .snow:nth-child(even) {
    background: #e8e6eb1d;
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.music-container {
    width: 450px;
    height: 450px;
    margin-bottom: 25px;
}

.playlist-menu {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    color:  var(--light);
    transition: 0.4s;
}

.playlist-menu:hover {
    color: var(--golden);
}

.header {
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 1px;
    color:  var(--golden);
    margin-bottom: 40px;
}

.music-player {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image:url(photos/Bóg\ się\ rodzi.jpg);
    background-position: center;
    background-size: cover; 
    color: var(--red); 
    box-shadow: 0 0 5px 5px var(--light);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    border-radius: 50%;
}

.music-info {
    margin: 0 0 9rem
}

.title {
    font-size: 2rem;
}

.progress-container {
    opacity: 0;
    background-color: var(--light);
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    height: 2px;
    width: 100px;
}

.progress {
    background-color: var(--red);
    border-radius: 8px;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
    cursor: pointer;
}

.music-player.play .progress-container {
    opacity: 1;
}

.navigation {
    display: flex;
    justify-content: space-between; 
    width: 120px;
}

.action-btn {
    padding: 5px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--red);
    cursor: pointer;
    transition: 0.4s;
}

.action-btn:hover {
    color: #f35252;
}

.action-btn-play {
   font-size: 1.7rem;
}

.volume-container {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 0 0.5rem;
    max-height: 2px;
    width: 150px;
    cursor: pointer;
    background: var(--light);
    border-radius: 8px;
}
    
.slider::-webkit-slider-runnable-track,.slider::-moz-range-track {
    margin: 0 0.5rem;
    max-height: 2px;
    width: 150px;
    cursor: pointer;
    background: var(--light);
    border-radius: 8px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* margin-top: -4px; */
    background: var(--red);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--red);
    cursor: pointer;
}

.playlist {
    font-family: 'Satisfy', cursive;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--red) ;
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 99;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s;
}

.playlist.on {
    transform: translateX(0);
    opacity: 1;
}

.playlist span {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    border-bottom: 70px solid transparent;
    border-left: 70px solid var(--golden);
    transition: 0.3s; 
}

div.icon-close {
    position: absolute;
    top: 0; 
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 5;
}

.icon-close:hover + span {
    border-left: 70px solid transparent;
}

.icon-close::before,
.icon-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--white);
  transform: translate(-50%, -50%) rotate(45deg)
}

.icon-close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

.playlist-header {
    color: var(--golden);
    letter-spacing: 3px;
    margin: 25px 0;
}

.song-list {
    flex-basis: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--golden) var(--light);
    padding: 0 15px;
}

.song-list::-webkit-scrollbar {
    width: 0.2em;
    background-color: var(--light);
}
  
.song-list::-webkit-scrollbar-track {
    background-color: var(--light);
}
  
.liElement {
    display: flex;
    height: 150px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(62, 59, 59, 0.2);
    cursor: pointer;
    list-style: none;
    padding: 10px;
}

.liElement.active {
    opacity: 0.7;
}

.img-container {
    height: 60%; 
    width: 60%;
}
 
.img-container img {
    height: 100%;
    width: 100%;
} 

p {
    width: 90%;
}

@media(max-width:480px) {
    .playlist {
        width: 100%;
    }
    .music-container {
        width: 90%;
        margin-bottom: 60px;
    }
}
